<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="format-detection" content="telephone=no">


<title><% if(data.basename != "top"){ %><%= data.title %>｜<% } %> Logo Lib</title>


<!-- css -->
<link rel="stylesheet" type="text/css" href="<%= data.cd %>css/common.css">
<!--===== ▲▲▲site original LINK FILE▲▲▲ =====-->

<!--===== ▼format FILE =====-->
<!-- recommend -->
<script type="text/javascript" src="//cdn.activity.bdash-cloud.com/recommend-script/bd-n1doct/recommend_script.js"></script>

<!-- js -->
<!-- <script language="Javascript" type="text/javascript" src="<%= data.cd %>js/setting.js"></script> -->
<!-- css -->
<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
<!-- <link rel="stylesheet" type="text/css" href="<%= data.cd %>css/base.css">
<link rel="stylesheet" type="text/css" href="<%= data.cd %>css/index.css"> -->
<link rel="stylesheet" type="text/css" href="<%= data.cd %>css/style.css">

</head>

<body class="<%- data.basename %>">